{% extends 'employer_navbar.html' %}
{% block title %} Резюме соискателей {% endblock %}
{% block resumes %} active {% endblock %}
{% block css %}
{% endblock %}
{% block body %}
   <h2>Здесь будут все резюме</h2>
   {% for resume in resumes %}
      <p>Номер резюме: #{{ resume.id }}</p>
      <h3>Фамилия соискателя: <a href="{% url 'resume' resume.id %}">{{ resume.surname }}</a></h3>
      <h3>Желаемая должность: <a href="{% url 'resume' resume.id %}">{{ resume.profession }}</a></h3>
   {% endfor %}
{% endblock %}