{% extends 'employer_navbar.html' %}
{% block title %} Резюме соискателей {% endblock %}
{% block resumes %} active {% endblock %}
{% block css %}
{% endblock %}
{% block body %}
<div class="container mt-4">
<table class="table table-hover" id="example">
    <thead>
        <tr>
            <th>No</th>
            <th>Профессия</th>
            <th>Навыки</th>
            <th>Дата размещения</th>
            <th>Зарплата</th>
        </tr>
    </thead>
    <tbody>
        {% for resume in resumes %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{resume.profession}}</td>
            <td>{{resume.skills}}</td>
            <td>{{resume.created}}</td>
            <td>{{resume.salary}}</td>
            <td><a href="{% url 'resume_employer' resume.id%}" type="submit" class="btn" style="background-color: #666666; color: white; width: 8rem;">Открыть</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
 </h6>
</div>
{% endblock %}