{% extends 'employer_navbar.html' %}

{% block title %} Выберите вакансию {% endblock %}
{% block vacancies %} active {% endblock %}
{% block css %}
{% endblock %}
{% block body %}
<div class="container mt-4">
    <h1>Выберите вакансию для резюме: 
        {{resume.profession}} </h1>
    <table class="table table-hover" id="example">
        <thead>
            <tr>
                <th>No</th>
                <th>Профессия</th>
                <th>Зарплата</th>
                <th>Дата размещения</th>
            </tr>
        </thead>
        <tbody>
            {% for vacancy in vacancies %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{vacancy.profession}}</td>
                <td>{{vacancy.salary}}</td>
                <td>{{vacancy.created}}</td>
                <td><a href="{% url 'offer_sent' vacancy_id=vacancy.id resume_id=resume.id %}" type="submit" class="btn" style="background-color: #666666; color: white; width: 8rem;">Выбрать</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}