{% extends 'employer_navbar.html' %}
{% block title %} Резюме соискателей: избранное {% endblock %}
{% block employer_applications %} active {% endblock %}
{% block css %}
{% endblock %}
{% block body %}
<div class="container mt-4">
<table class="table table-hover" id="example">
    <thead>
        <tr>
            <th>No</th>
            <th>Профессия</th>
            <th>Зарплата</th>
            <th>Соискатель</th>
            <th>Статус</th>
        </tr>
    </thead>
    <tbody>
        {% for application in applications %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{application.resume.profession}}</td>
            <td>{{application.resume.salary}}</td>
            <td>{{application.resume.surname}}</td>
            <td>{{application.status}}</td>
            <td><a href="{% url 'resume_employer' application.resume.id%}" type="submit" class="btn" style="background-color: #666666; color: white; width: 8rem;">Открыть</a></td>        
        </tr>
        {% endfor %}
    </tbody>
</table>
 </h6>
</div>
{% endblock %}