{% extends 'employer_navbar.html' %}
{% block title %} Резюме соискателей: избранное {% endblock %}
{% block favorite_resumes %} active {% endblock %}
{% block css %}
{% endblock %}
{% block body %}
<div class="container mt-4">
<table class="table table-hover" id="example">
    <thead>
        <tr>
            <th>No</th>
            <th>ФИО Соискателя</th>
            <th>Профессия</th>
            <th>Зарплата</th>
            <th>Дата размещения</th>
        </tr>
    </thead>
    <tbody>
        {% for resume in resumes %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{resume.resume.name}} {{resume.resume.surname}}</td>
            <td>{{resume.resume.profession}}</td>
            <td>{{resume.resume.salary}}</td>
            <td>{{resume.resume.created}}</td>
            <td><a href="{% url 'resume_employer' resume.resume.id%}" type="submit" class="btn" style="background-color: #666666; color: white; width: 6rem;">Открыть</a></td>
            <td><a href="{% url 'favorite_resume_delete' resume.resume.id%}" type="submit" class="btn btn-danger">Удалить</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}