{% extends 'employer_navbar.html' %}

{% block title %} Резюме соискателя {% endblock %}
{% block resumes %} active {% endblock %}
{% block css %}
{% endblock %}
{% block body %}
<div class="container mt-4 shadow-lg py-3 mb-4">
<div class="row">
    <div class="col-md-5">
        <img src="{{resume.applicant.user.image.url}}" alt="" width="250px" height="250px">
    </div>
    <div class="col-md-6">
        <h2>ФИО: {{resume.name}} {{resume.surname}}</h2>
        <p>Контактный телефон: {{resume.applicant.user.phone}}</p>
        <p>Электронная почта: {{resume.applicant.user.email}}</p>
        <p>Адрес: {{resume.applicant.user.address}}</p>
        <p>Профессия: {{resume.profession}}</p>
        <p>Навыки: {{resume.skills}}</p>
        <p>Образование: {{resume.education}}</p>
        <p>Опыт: {{resume.experience}}</p>
        <p>Желаемый уровень заработной платы: {{resume.salary}} рублей в месяц</p>
        <div class="mt-3">
            <a href="{% url 'choose_vacancy' resume.id %}" class="btn" style="background-color: #666666; color: white; width: 9rem;">Пригласить</a>
            {% if alert %}
                <a href="{% url 'add_favorite_resume' card_id=card.id resume_id=resume.id %}" class="btn" style="background-color: #4caabb; color: white; width: 9rem;">В избранное</a>
            {% endif %}
        </div>
    </div>
</div>
</div>
{% endblock %}