{% extends 'employer_navbar.html' %}

{% block title %} Редактирование вакансии {% endblock %}
{% block vacancies %} active {% endblock %}
{% block css %}
{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <form method="POST"> {% csrf_token %}
                <div class="row">
                    <div class="form-group">
                        <label>Профессия</label>
                        <input type="text" class="form-control" name="profession" id="profession" value="{{vacancy.profession}}" required>
                        <label>Навыки</label>
                        <input type="text" class="form-control" name="skills" id="skills" value="{{vacancy.skills}}" required>
                        <label>Образование</label>
                        <input type="text" class="form-control" name="education" id="education" value="{{vacancy.education}}" required>
                        <label>Опыт</label>
                        <input type="text" class="form-control" name="experience" id="experience" value="{{vacancy.experience}}" required>
                        <label>Зарплата</label>
                        <input type="number" class="form-control" name="salary" id="salary" value="{{vacancy.salary}}" required>
                        <label>Адрес места работы</label>
                        <input type="text" class="form-control" name="address" id="address" value="{{vacancy.address}}" required>
                        <label>Описсание</label>
                        <input type="text" class="form-control" name="description" id="description" value="{{vacancy.description}}" required>
                        
                        <br>
                        <input type="submit" name="action" value="Сохранить" class="btn" style="background-color: #666666; color: white; font-size: normal; width: 9rem;">
                        <input type="submit" name="action" value="Опубликовать" class="btn" style="background-color: #666666; color: white; font-size: normal; width: 10rem;">
                        <input type="submit" name="action" value="Комментарий" class="btn" style="background-color: #666666; color: white; font-size: normal; width: 10rem;">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script>
    {% if alert_1 %}
    alert("Вакансия отправлена на публикацию")
    window.location = "{% url 'employer_vacancies'%}"
    {% endif %}
    {% if alert_2 %}
    alert("Вакансия сохранена в черновике")
    window.location = "{% url 'employer_vacancies'%}"
    {% endif %}
</script>
{% endblock %}