{% extends 'applicant_navbar.html' %}
{% block title %} Доступные вакансии {% endblock %}
{% block all_vacancies_applicant %} active {% endblock %}
{% block css %}
{% endblock %}
{% block body %}
<div class="container mt-4">

    <section class="text-center" style="margin-bottom: 20px;">
        <div class="container container--narrow">
            <div class="hero-section__box">
                <h2>Поиск по <span>вакансиям</span></h2>
            </div>
            <form id='searchForm' class="form" action="{% url 'all_vacancies_applicant' %}" method="get">
                <div class="input-group" style="justify-content: center;">
                    <div class="form-outline" style="width: 35%">
                        <input class="form-control" id="formInput#search" type="search" name="search_query"
                            placeholder="Поиск по профессии, навыкам, описанию вакансии" value="{{ search_query }}" />
                    </div>
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </form>
        </div>
    </section>

<table class="table table-hover" id="example">
    <thead>
        <tr>
            <th>No</th>
            <th>Компания</th>
            <th>Профессия</th>
            <th>Навыки</th>
            <th>Дата размещения</th>
            <th>Зарплата</th>
        </tr>
    </thead>
    <tbody>
        {% for vacancy in vacancies %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{vacancy.card_id.legal_form}} {{vacancy.card_id.name}}</td>
            <td>{{vacancy.profession}}</td>
            <td>{{vacancy.skills}}</td>
            <td>{{vacancy.created}}</td>
            <td>{{vacancy.salary}}</td>
            <td><a href="{% url 'applicant_vacancy_detail' vacancy.id%}" type="submit" class="btn" style="background-color: #666666; color: white; width: 8rem;">Открыть</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% include 'pagination.html' with queryset=vacancies custom_range=custom_range %}
</div>
{% endblock %}