{% extends 'applicant_navbar.html' %}

{% block title %} Отправить резюме {% endblock %}
{% block vacancies %} active {% endblock %}
{% block css %}
{% endblock %}
{% block body %}
{% endblock %}
{% block js %}
<script>
    {% if alert %}
    alert("Отклик отправлен")
    window.location = "{% url 'all_vacancies_applicant' %}"
    {% endif %}
    {% if alert_repeat %}
    alert("Отклик уже существует")
    window.location = "{% url 'all_vacancies_applicant' %}"
    {% endif %}
</script>
{% endblock %}