{% extends 'applicant_navbar.html' %}

{% block title %} Вакансия {% endblock %}
{% block all_vacancies_applicant %} active {% endblock %}
{% block css %}
{% endblock %}
{% block body %}
<div class="container mt-4 shadow-lg py-3 mb-4">
<div class="row">
    <div class="col-md-5">
        <img src="{{vacancy.card_id.logo.url}}" alt="" width="250px" height="250px">
    </div>
    <div class="col-md-6">
        <h2>{{vacancy.card_id.legal_form}} {{vacancy.card_id.name}} </h2>
        <p>Контактный телефон: {{vacancy.card_id.phone}}</p>
        <p>Электронная почта: {{vacancy.card_id.mail}}</p>
        <p>Профессия: {{vacancy.profession}}</p>
        <p>Навыки: {{vacancy.skills}}</p>
        <p>Образование: {{vacancy.education}}</p>
        <p>Опыт: {{vacancy.experience}}</p>
        <p>Уровень заработной платы: {{vacancy.salary}} рублей в месяц</p>
        <p>Адрес места работы: {{vacancy.address}}</p>
        <p>Описание: {{vacancy.description}} </p>
        <div class="mt-3">
            <a href="{% url 'choose_resume' vacancy.id %}" class="btn" style="background-color: #666666; color: white; width: 9rem;">Откликнуться</a>
            {% if alert %}
                <a href="{% url 'add_favorite_vacancy' vacancy_id=vacancy.id %}" class="btn" style="background-color: #4caabb; color: white; width: 9rem;">В избранное</a>
            {% endif %}
        </div>
    </div>
</div>
</div>
{% endblock %}