{% extends 'applicant_navbar.html' %}

{% block title %} Выберите резюме {% endblock %}
{% block vacancies %} active {% endblock %}
{% block css %}
{% endblock %}
{% block body %}
<div class="container mt-4">
    <h1>Выберите резюме для вакансии: 
        {{vacancy.profession}} в {{vacancy.card_id.legal_form}} {{vacancy.card_id.name}}</h1>
    <table class="table table-hover" id="example">
        <thead>
            <tr>
                <th>No</th>
                <th>Профессия</th>
                <th>Зарплата</th>
                <th>Дата размещения</th>
            </tr>
        </thead>
        <tbody>
            {% for resume in resumes %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{resume.profession}}</td>
                <td>{{resume.salary}}</td>
                <td>{{resume.created}}</td>
                <td><a href="{% url 'application_sent' vacancy_id=vacancy.id resume_id=resume.id %}" type="submit" class="btn" style="background-color: #666666; color: white; width: 8rem;">Выбрать</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
{% block js %}
<script>
    {% if alert %}
    alert("Нет доcтупных резюме для отклика на вакансию. Создайте резюме в личном кабинете")
    window.location = "{% url 'all_vacancies_applicant' %}"
    {% endif %}
    {% if alert_1 %}
    alert("Дождитесь когда модератор опубликует резюме на сайте")
    window.location = "{% url 'all_vacancies_applicant' %}"
    {% endif %}
</script>
{% endblock %}