{% extends 'applicant_navbar.html' %}

{% block title %} Новое резюме {% endblock %}
{% block resumes %} active {% endblock %}
{% block css %}
{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <form method="POST"> {% csrf_token %}
                <div class="row">
                    <div class="form-group">
                        <label>Профессия</label>
                        <input type="text" class="form-control" name="profession" id="profession" value="{{resume.profession}}" required>
                        <label>Навыки</label>
                        <input type="text" class="form-control" name="skills" id="skills" value="{{resume.skills}}" required>
                        <label>Образование</label>
                        <input type="text" class="form-control" name="education" id="education" value="{{resume.education}}" required>
                        <label>Опыт</label>
                        <input type="text" class="form-control" name="experience" id="experience" value="{{resume.experience}}" required>
                        <label>Зарплата</label>
                        <input type="number" class="form-control" name="salary" id="salary" value="{{resume.salary}}" required>
                        <br>
                        <input type="submit" name="action" value="Опубликовать" class="btn" style="background-color: #666666; color: white; font-size: normal; width: 10rem;">
                        <input type="submit" name="action" value="Сохранить" class="btn" style="background-color: #666666; color: white; font-size: normal; width: 10rem;">
                        <input type="submit" name="action" value="Комментарий" class="btn" style="background-color: #666666; color: white; font-size: normal; width: 10rem;">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script>
     {% if alert_1 %}
    alert("Резюме отправлено модератору на согласование")
    window.location = "/applicant/all_resumes/"
    {% endif %}
    {% if alert_2 %}
    alert("Резюме сохранено как черновик")
    window.location = "/applicant/all_resumes/"
    {% endif %}
</script>
{% endblock %}